#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.logo {
  height: 18em;
  padding: 6em;
  will-change: filter;
  transition: filter 300ms;
  
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
